<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quiz">

    <application>
        <activity android:name=".mvp.MainActivity"></activity>
        <activity android:name=".mvp2.MainActivity"></activity>
    </application>

</manifest>